* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    
}

.white__background {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 350px;
    height: 500px;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}


.QRcode__img {
    display: flex;
    justify-content: center;
}

.QRcode {
    border-radius: 20px;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product__title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    padding: 15px 20px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2px 50px;
    
}